<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>VRM Camera needs camera access for face and body tracking.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>VRM Camera may use microphone for future features.</string>
	<key>NSCameraUseContinuityCameraDeviceType</key>
	<true/>
</dict>
</plist>
